@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.navi-w {
		width: calc(100vw + 30px);
	}

	.line-clamp-4 {
		display: -webkit-box;
		-webkit-line-clamp: 4;
		-webkit-box-orient: vertical;
	}

	.btn {
		@apply font-bold rounded-xl bg-greenDefault hover:bg-greenLight transition-all w-fit text-white py-[12px] px-[70px] block cursor-pointer;
	}

	.h1 {
		@apply font-lato font-bold text-[24px] leading-[24px] lg:text-[55px] lg:leading-[55px];
	}

	.h2 {
		@apply font-lato font-bold text-[22px] leading-[22px] lg:text-[50px] lg:leading-[50px];
	}

	.h3 {
		@apply font-lato font-bold text-[20px] leading-[20px] lg:text-[40px] lg:leading-[40px];
	}

	.h4 {
		@apply font-lato font-bold text-[18px] leading-[18px] lg:text-[30px] lg:leading-[30px];
	}

	.h5 {
		@apply font-lato font-bold text-[16px] leading-[16px] lg:text-[20px] lg:leading-[26px];
	}

	.h6 {
		@apply font-lato font-bold text-[14px] leading-[14px] lg:text-[15px] lg:leading-[15px];
	}
	/* TODO: make colored sections as seperator */
	.section-colored {
		@apply relative text-white before:absolute before:bg-red before:w-screen before:h-full;
	}
}

@layer base {
	body,
	html {
		@apply text-greyDark m-0 p-0;
	}

	h1 {
		@apply font-lato font-bold text-[24px] leading-[24px] lg:text-[55px] lg:leading-[55px];
	}

	h2 {
		@apply font-lato font-bold text-[22px] leading-[22px] md:text-[38px] md:leading-[38px] lg:text-[50px] lg:leading-[50px];
	}

	h3 {
		@apply font-lato font-bold text-[20px] leading-[20px] lg:text-[40px] lg:leading-[40px];
	}

	h4 {
		@apply font-lato font-bold text-[18px] leading-[18px] lg:text-[30px] lg:leading-[30px];
	}

	h5 {
		@apply font-lato font-bold text-[16px] leading-[16px] lg:text-[20px] lg:leading-[26px];
	}

	h6 {
		@apply font-lato font-bold text-[14px] leading-[14px] lg:text-[15px] lg:leading-[15px];
	}

	main {
		@apply left-2/4 -translate-x-1/2 relative w-11/12 py-8 px-5 max-w-[1600px];
	}

	section {
		@apply my-5 w-full;
	}

	input,
	textarea {
		@apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-none;
	}

	label {
		@apply block text-gray-700 text-sm font-bold mb-2;
	}
}
